In [6]:
import numpy as np

In [7]:
import pandas as pd

In [13]:
df = pd.read_csv('/Users/kinam/git/obds_sep2022/Python_W2/Homo_sapiens.GRCh38.107.gtf', sep='\t', header = None, comment = "#") # Read a tsv file

/var/folders/b_/drg8gqvj38n0vbrfqvqz3k1c0000gn/T/ipykernel_52831/622971896.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/kinam/git/obds_sep2022/Python_W2/Homo_sapiens.GRCh38.107.gtf', sep='\t', header = None, comment = "#") # Read a tsv file

In [14]:
df.head()

,0,1,2,3,4,5,6,7,8
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
1,1,ensembl_havana,transcript,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
2,1,ensembl_havana,exon,1471765,1472089,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
3,1,ensembl_havana,CDS,1471885,1472089,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
4,1,ensembl_havana,start_codon,1471885,1471887,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."

In [15]:
df.columns = ['seqname', 'source', 'feature', 'start', 'end', 'score', 'strand', 'frame', 'group']

In [16]:
df.head()

,seqname,source,feature,start,end,score,strand,frame,group
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
1,1,ensembl_havana,transcript,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
2,1,ensembl_havana,exon,1471765,1472089,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
3,1,ensembl_havana,CDS,1471885,1472089,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
4,1,ensembl_havana,start_codon,1471885,1471887,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."

In [18]:
df.shape

(3371244, 9)

In [22]:
len(df['source'].unique())

8

In [23]:
ens_df = df.query("source == 'ensembl_havana'")

In [24]:
ens_df.shape

(714608, 9)

In [25]:
ens_df.head()

,seqname,source,feature,start,end,score,strand,frame,group
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
1,1,ensembl_havana,transcript,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
2,1,ensembl_havana,exon,1471765,1472089,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
3,1,ensembl_havana,CDS,1471885,1472089,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
4,1,ensembl_havana,start_codon,1471885,1471887,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."

In [29]:
df.groupby("feature").count()

,seqname,source,start,end,score,strand,frame,group
feature,,,,,,,,
CDS,871196,871196,871196,871196,871196,871196,871196,871196
Selenocysteine,119,119,119,119,119,119,119,119
exon,1624585,1624585,1624585,1624585,1624585,1624585,1624585,1624585
five_prime_utr,171504,171504,171504,171504,171504,171504,171504,171504
gene,61860,61860,61860,61860,61860,61860,61860,61860
start_codon,96934,96934,96934,96934,96934,96934,96934,96934
stop_codon,90724,90724,90724,90724,90724,90724,90724,90724
three_prime_utr,203201,203201,203201,203201,203201,203201,203201,203201
transcript,251121,251121,251121,251121,251121,251121,251121,251121

In [73]:
genes = df.query("feature == 'gene'")

In [74]:
genes.shape

(61860, 9)

In [75]:
genes.head()

,seqname,source,feature,start,end,score,strand,frame,group
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
107,1,havana,gene,2212523,2220738,.,+,.,"gene_id ""ENSG00000234396""; gene_version ""3""; g..."
111,1,havana,gene,629062,629433,.,+,.,"gene_id ""ENSG00000225972""; gene_version ""1""; g..."
114,1,havana,gene,8786211,8786913,.,-,.,"gene_id ""ENSG00000224315""; gene_version ""2""; g..."
117,1,havana,gene,634376,634922,.,+,.,"gene_id ""ENSG00000198744""; gene_version ""5""; g..."

In [51]:
# genes['gene_length'] = genes.iloc[:,4] - genes.iloc[:,3]

/var/folders/b_/drg8gqvj38n0vbrfqvqz3k1c0000gn/T/ipykernel_52831/3297691938.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genes['gene_length'] = genes.iloc[:,4] - genes.iloc[:,3]

In [76]:
genes = genes.assign(gene_length = genes["end"] - genes["start"])

In [77]:
genes.shape

(61860, 10)

In [78]:
genes.head()

,seqname,source,feature,start,end,score,strand,frame,group,gene_length
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ...",26083
107,1,havana,gene,2212523,2220738,.,+,.,"gene_id ""ENSG00000234396""; gene_version ""3""; g...",8215
111,1,havana,gene,629062,629433,.,+,.,"gene_id ""ENSG00000225972""; gene_version ""1""; g...",371
114,1,havana,gene,8786211,8786913,.,-,.,"gene_id ""ENSG00000224315""; gene_version ""2""; g...",702
117,1,havana,gene,634376,634922,.,+,.,"gene_id ""ENSG00000198744""; gene_version ""5""; g...",546

In [79]:
mean_length = genes["gene_length"].mean()

In [80]:
median_length = genes["gene_length"].median()

In [81]:
mean_length

32626.786744261233

In [82]:
median_length

3553.5

In [83]:
genes.head()

,seqname,source,feature,start,end,score,strand,frame,group,gene_length
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ...",26083
107,1,havana,gene,2212523,2220738,.,+,.,"gene_id ""ENSG00000234396""; gene_version ""3""; g...",8215
111,1,havana,gene,629062,629433,.,+,.,"gene_id ""ENSG00000225972""; gene_version ""1""; g...",371
114,1,havana,gene,8786211,8786913,.,-,.,"gene_id ""ENSG00000224315""; gene_version ""2""; g...",702
117,1,havana,gene,634376,634922,.,+,.,"gene_id ""ENSG00000198744""; gene_version ""5""; g...",546

In [86]:
genes_sorted = genes.sort_values(by = ['gene_length'])

In [87]:
genes_sorted.head()

,seqname,source,feature,start,end,score,strand,frame,group,gene_length
2341061,14,havana,gene,22438547,22438554,.,+,.,"gene_id ""ENSG00000223997""; gene_version ""1""; g...",7
2341642,14,havana,gene,22439007,22439015,.,+,.,"gene_id ""ENSG00000237235""; gene_version ""2""; g...",8
2418605,14,havana,gene,105865551,105865561,.,-,.,"gene_id ""ENSG00000236597""; gene_version ""1""; g...",10
1312465,7,havana,gene,142786213,142786224,.,+,.,"gene_id ""ENSG00000282431""; gene_version ""1""; g...",11
2341080,14,havana,gene,22449113,22449125,.,+,.,"gene_id ""ENSG00000228985""; gene_version ""1""; g...",12

In [91]:
genes_sorted.iloc[0:20,:]

,seqname,source,feature,start,end,score,strand,frame,group,gene_length
2341061,14,havana,gene,22438547,22438554,.,+,.,"gene_id ""ENSG00000223997""; gene_version ""1""; g...",7
2341642,14,havana,gene,22439007,22439015,.,+,.,"gene_id ""ENSG00000237235""; gene_version ""2""; g...",8
2418605,14,havana,gene,105865551,105865561,.,-,.,"gene_id ""ENSG00000236597""; gene_version ""1""; g...",10
1312465,7,havana,gene,142786213,142786224,.,+,.,"gene_id ""ENSG00000282431""; gene_version ""1""; g...",11
2341080,14,havana,gene,22449113,22449125,.,+,.,"gene_id ""ENSG00000228985""; gene_version ""1""; g...",12
2418657,14,havana,gene,105894508,105894523,.,-,.,"gene_id ""ENSG00000227800""; gene_version ""1""; g...",15
2418681,14,havana,gene,105903616,105903631,.,-,.,"gene_id ""ENSG00000232543""; gene_version ""2""; g...",15
2418713,14,havana,gene,105913222,105913237,.,-,.,"gene_id ""ENSG00000233655""; gene_version ""1""; g...",15
2418701,14,havana,gene,105909907,105909923,.,-,.,"gene_id ""ENSG00000237197""; gene_version ""1""; g...",16
2462756,15,havana,gene,20011153,20011169,.,-,.,"gene_id ""ENSG00000271336""; gene_version ""1""; g...",16
2418669,14,havana,gene,105900638,105900654,.,-,.,"gene_id ""ENSG00000227108""; gene_version ""1""; g...",16
2467826,15,havana,gene,21017800,21017816,.,-,.,"gene_id ""ENSG00000270185""; gene_version ""1""; g...",16
2418725,14,havana,gene,105919502,105919518,.,-,.,"gene_id ""ENSG00000236170""; gene_version ""1""; g...",16
2418645,14,havana,gene,105891191,105891207,.,-,.,"gene_id ""ENSG00000237020""; gene_version ""1""; g...",16
2418616,14,havana,gene,105881539,105881556,.,-,.,"gene_id ""ENSG00000225825""; gene_version ""1""; g...",17
2418705,14,havana,gene,105910410,105910427,.,-,.,"gene_id ""ENSG00000228131""; gene_version ""1""; g...",17
2467325,15,havana,gene,21011451,21011469,.,-,.,"gene_id ""ENSG00000270451""; gene_version ""1""; g...",18
2489695,15,havana,gene,20004797,20004815,.,-,.,"gene_id ""ENSG00000271317""; gene_version ""1""; g...",18
2418624,14,havana,gene,105884870,105884888,.,-,.,"gene_id ""ENSG00000227196""; gene_version ""1""; g...",18
2418653,14,havana,gene,105893542,105893561,.,-,.,"gene_id ""ENSG00000211915""; gene_version ""1""; g...",19

In [92]:
genes_sorted = genes.sort_values(by = ['gene_length'], ascending = False)

In [93]:
genes_sorted.head()

,seqname,source,feature,start,end,score,strand,frame,group,gene_length
2679474,16,ensembl_havana,gene,5239802,7713340,.,+,.,"gene_id ""ENSG00000078328""; gene_version ""23""; ...",2473538
1297140,7,ensembl_havana,gene,146116002,148420998,.,+,.,"gene_id ""ENSG00000174469""; gene_version ""23""; ...",2304996
1733179,9,ensembl_havana,gene,8314246,10613002,.,-,.,"gene_id ""ENSG00000153707""; gene_version ""19""; ...",2298756
1514121,X,ensembl_havana,gene,31097677,33339609,.,-,.,"gene_id ""ENSG00000198947""; gene_version ""18""; ...",2241932
1850816,11,ensembl_havana,gene,83455012,85627922,.,-,.,"gene_id ""ENSG00000150672""; gene_version ""18""; ...",2172910

In [94]:
genes_sorted.iloc[0:10,:]

,seqname,source,feature,start,end,score,strand,frame,group,gene_length
2679474,16,ensembl_havana,gene,5239802,7713340,.,+,.,"gene_id ""ENSG00000078328""; gene_version ""23""; ...",2473538
1297140,7,ensembl_havana,gene,146116002,148420998,.,+,.,"gene_id ""ENSG00000174469""; gene_version ""23""; ...",2304996
1733179,9,ensembl_havana,gene,8314246,10613002,.,-,.,"gene_id ""ENSG00000153707""; gene_version ""19""; ...",2298756
1514121,X,ensembl_havana,gene,31097677,33339609,.,-,.,"gene_id ""ENSG00000198947""; gene_version ""18""; ...",2241932
1850816,11,ensembl_havana,gene,83455012,85627922,.,-,.,"gene_id ""ENSG00000150672""; gene_version ""18""; ...",2172910
1601567,8,ensembl_havana,gene,2935353,4994972,.,-,.,"gene_id ""ENSG00000183117""; gene_version ""20""; ...",2059619
3030998,20,ensembl_havana,gene,13995369,16053197,.,+,.,"gene_id ""ENSG00000172264""; gene_version ""18""; ...",2057828
1104549,6,ensembl_havana,gene,63719980,65707226,.,-,.,"gene_id ""ENSG00000188107""; gene_version ""15""; ...",1987246
338522,2,havana,gene,140231423,142131016,.,-,.,"gene_id ""ENSG00000168702""; gene_version ""18""; ...",1899593
2041854,10,ensembl_havana,gene,65912457,67763637,.,-,.,"gene_id ""ENSG00000183230""; gene_version ""18""; ...",1851180

In [104]:
group_split = genes["group"].str.split(";", expand = True)

In [112]:
group_split.head()

,0,1,2,3,4,5
0,"gene_id ""ENSG00000160072""","gene_version ""20""","gene_name ""ATAD3B""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""",
107,"gene_id ""ENSG00000234396""","gene_version ""3""","gene_source ""havana""","gene_biotype ""lncRNA""",,None
111,"gene_id ""ENSG00000225972""","gene_version ""1""","gene_name ""MTND1P23""","gene_source ""havana""","gene_biotype ""unprocessed_pseudogene""",
114,"gene_id ""ENSG00000224315""","gene_version ""2""","gene_name ""RPL7P7""","gene_source ""havana""","gene_biotype ""processed_pseudogene""",
117,"gene_id ""ENSG00000198744""","gene_version ""5""","gene_name ""MTCO3P12""","gene_source ""havana""","gene_biotype ""unprocessed_pseudogene""",

In [113]:
genes.reset_index()

,index,seqname,source,feature,start,end,score,strand,frame,group,gene_length
0,0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ...",26083
1,107,1,havana,gene,2212523,2220738,.,+,.,"gene_id ""ENSG00000234396""; gene_version ""3""; g...",8215
2,111,1,havana,gene,629062,629433,.,+,.,"gene_id ""ENSG00000225972""; gene_version ""1""; g...",371
3,114,1,havana,gene,8786211,8786913,.,-,.,"gene_id ""ENSG00000224315""; gene_version ""2""; g...",702
4,117,1,havana,gene,634376,634922,.,+,.,"gene_id ""ENSG00000198744""; gene_version ""5""; g...",546
...,...,...,...,...,...,...,...,...,...,...,...
61855,3371150,KI270711.1,ensembl,gene,4612,29626,.,-,.,"gene_id ""ENSG00000271254""; gene_version ""7""; g...",25014
61856,3371224,KI270713.1,ensembl,gene,30437,30580,.,-,.,"gene_id ""ENSG00000275987""; gene_version ""1""; g...",143
61857,3371227,KI270713.1,ensembl,gene,35407,35916,.,+,.,"gene_id ""ENSG00000268674""; gene_version ""2""; g...",509
61858,3371233,KI270713.1,ensembl,gene,31698,32528,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; g...",830
61859,3371241,KI270713.1,ensembl,gene,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; g...",163

In [118]:
merged_df = group_split.merge(genes, left_index = True, right_index = True,  how = "inner")

In [119]:
merged_df.head()

,0,1,2,3,4,5,seqname,source,feature,start,end,score,strand,frame,group,gene_length
0,"gene_id ""ENSG00000160072""","gene_version ""20""","gene_name ""ATAD3B""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""",,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ...",26083
107,"gene_id ""ENSG00000234396""","gene_version ""3""","gene_source ""havana""","gene_biotype ""lncRNA""",,None,1,havana,gene,2212523,2220738,.,+,.,"gene_id ""ENSG00000234396""; gene_version ""3""; g...",8215
111,"gene_id ""ENSG00000225972""","gene_version ""1""","gene_name ""MTND1P23""","gene_source ""havana""","gene_biotype ""unprocessed_pseudogene""",,1,havana,gene,629062,629433,.,+,.,"gene_id ""ENSG00000225972""; gene_version ""1""; g...",371
114,"gene_id ""ENSG00000224315""","gene_version ""2""","gene_name ""RPL7P7""","gene_source ""havana""","gene_biotype ""processed_pseudogene""",,1,havana,gene,8786211,8786913,.,-,.,"gene_id ""ENSG00000224315""; gene_version ""2""; g...",702
117,"gene_id ""ENSG00000198744""","gene_version ""5""","gene_name ""MTCO3P12""","gene_source ""havana""","gene_biotype ""unprocessed_pseudogene""",,1,havana,gene,634376,634922,.,+,.,"gene_id ""ENSG00000198744""; gene_version ""5""; g...",546

In [121]:
merged_df_1 = genes.merge(ens_df, on = ["seqname", "end", "start"], how = "inner")

In [122]:
merged_df_1.head()

,seqname,source_x,feature_x,start,end,score_x,strand_x,frame_x,group_x,gene_length,source_y,feature_y,score_y,strand_y,frame_y,group_y
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ...",26083,ensembl_havana,gene,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
1,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ...",26083,ensembl_havana,transcript,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
2,1,ensembl_havana,gene,3069168,3438621,.,+,.,"gene_id ""ENSG00000142611""; gene_version ""17""; ...",369453,ensembl_havana,gene,.,+,.,"gene_id ""ENSG00000142611""; gene_version ""17""; ..."
3,1,ensembl_havana,gene,2403964,2413797,.,-,.,"gene_id ""ENSG00000157911""; gene_version ""11""; ...",9833,ensembl_havana,gene,.,-,.,"gene_id ""ENSG00000157911""; gene_version ""11""; ..."
4,1,ensembl_havana,gene,2228319,2310213,.,+,.,"gene_id ""ENSG00000157933""; gene_version ""10""; ...",81894,ensembl_havana,gene,.,+,.,"gene_id ""ENSG00000157933""; gene_version ""10""; ..."